* {
   box-sizing: border-box;
   /* margin: 0;
   padding: 0; */
}

html {

}

#order {
   display: flex;
   flex-direction: column;
}

.form-label {
   display: inline-block;
   width: 150px;
}

.form-group {
   display: flex;
   margin-bottom: 10px;
}

.btn {
   width: 100px;
   margin-left: 150px;
}